<a href="https://colab.research.google.com/github/trong-shen/Game-of-Throne-Project/blob/master/GOT_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Load the CSV file from Github

In [7]:
import pandas as pd

GOT1= pd.read_csv('https://raw.githubusercontent.com/trong-shen/Game-of-Throne-Project/master/Game_of_Thrones_Script.csv')

GOT1.head()

  Release Date  ...                                           Sentence
0   2011-04-17  ...  What do you expect? They're savages. One lot s...
1   2011-04-17  ...  I've never seen wildlings do a thing like this...
2   2011-04-17  ...                             How close did you get?
3   2011-04-17  ...                            Close as any man would.
4   2011-04-17  ...                   We should head back to the wall.

[5 rows x 6 columns]

In [8]:
!pip install nltk
import nltk
nltk.download('punkt')

Requirement already satisfied: nltk in /usr/local/lib/python3.6/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from nltk) (1.12.0)
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [0]:
tokenized_word=[];
#Create a table with tokenized words
for i in range(0,len(GOT1)):
  tokenized_word.append(nltk.word_tokenize(GOT1.Sentence[i]))
GOT1.insert(6,'Tokenized_Sentence',tokenized_word)

In [0]:
GOT1.Tokenized_Sentence[0][0]

'What'

In [9]:
GOT1.tail()

      Release Date  ...                                           Sentence
23906   2019-05-19  ...  I think we can all agree that ships take prece...
23907   2019-05-19  ...      I think that's a very presumptuous statement.
23908   2019-05-19  ...  I once brought a jackass and a honeycomb into ...
23909   2019-05-19  ...                            The Queen in the North!
23910   2019-05-19  ...  The Queen in the North! The Queen in the North...

[5 rows x 6 columns]