<a href="https://colab.research.google.com/github/trong-shen/Game-of-Throne-Project/blob/master/Subtitles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import datetime as dt
import numpy as np

In [0]:
GOTep1.info()

In [0]:
# Changing datetime format so it can be converted to a timedelta64 as a string (was getting error converting to timedelta without this step)
GOTep1['Time_End'] = pd.to_datetime(GOTep1['Time_End'],format= '%H:%M:%S:%f' ).dt.time
GOTep1['Time_Start'] = pd.to_datetime(GOTep1['Time_Start'],format= '%H:%M:%S:%f' ).dt.time

In [0]:
# Converting the timeseries to a time delta in order to find the differences between time_end and time_start
GOTep1['Time_End'] = pd.to_timedelta(GOTep1['Time_End'].astype(str))
GOTep1['Time_Start'] = pd.to_timedelta(GOTep1['Time_Start'].astype(str))

In [227]:
# Creating a new column with differnce between time end and time start for each subtitle (length of time of each subtitle)
GOTep1['Time_Diff_seconds'] = GOTep1['Time_End'] - GOTep1['Time_Start']
GOTep1['Time_Diff_seconds'] = GOTep1['Time_Diff_seconds']/np.timedelta64(1,'s')

GOTep1.head(30)

        Time_Start  ... Time_Diff_seconds
0  00:00:09.130000  ...              2.96
1  00:00:41.110000  ...              2.07
2  00:00:55.200000  ...              2.94
3  00:01:14.190000  ...              2.87
4  00:01:43.010000  ...              2.11
5  00:01:55.100000  ...              3.00
6  00:02:55.010000  ...              1.20
7  00:02:59.210000  ...              2.80
8  00:03:11.040000  ...              2.04
9  00:03:13.090000  ...              2.08
10 00:03:15.180000  ...              3.00
11 00:03:18.180000  ...              2.05
12 00:03:20.230000  ...              2.84
13 00:03:23.070000  ...              2.97
14 00:03:26.050000  ...              2.99
15 00:03:31.160000  ...              1.92
16 00:03:33.080000  ...              2.11
17 00:03:35.200000  ...              2.96
18 00:03:38.170000  ...              2.92
19 00:03:43.070000  ...              2.00
20 00:03:45.080000  ...              2.02
21 00:03:47.100000  ...              1.92
22 00:03:50.060000  ...              1.98
23 00:03:52.050000  ...              1.99
24 00:03:54.050000  ...              3.02
25 00:03:58.190000  ...              2.90
26 00:04:01.100000  ...              2.98
27 00:04:04.080000  ...              2.09
28 00:04:08.230000  ...              2.83
29 00:04:11.070000  ...              1.99

[30 rows x 4 columns]